/* 1. Theme default css */
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Poppins:300,400,500,600,700'); */

@font-face {
  font-family: 'UntitledSansWeb';
  src: url('/assets/2019/webfonts/UntitledSansWeb-Regular.eot');
  src: url('/assets/2019/webfonts/UntitledSansWeb-Regular.eot?#iefix') format('embedded-opentype'), 
       url('/assets/2019/webfonts/UntitledSansWeb-Regular.woff2') format('woff2'), 
       url('/assets/2019/webfonts/UntitledSansWeb-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'UntitledSansWeb';
  src: url('/assets/2019/webfonts/UntitledSansWeb-RegularItalic.eot');
  src: url('/assets/2019/webfonts/UntitledSansWeb-RegularItalic.eot?#iefix') format('embedded-opentype'), 
       url('/assets/2019/webfonts/UntitledSansWeb-RegularItalic.woff2') format('woff2'), 
       url('/assets/2019/webfonts/UntitledSansWeb-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'UntitledSansWeb';
  src: url('/assets/2019/webfonts/UntitledSansWeb-Medium.eot');
  src: url('/assets/2019/webfonts/UntitledSansWeb-Medium.eot?#iefix') format('embedded-opentype'), 
       url('/assets/2019/webfonts/UntitledSansWeb-Medium.woff2') format('woff2'), 
       url('/assets/2019/webfonts/UntitledSansWeb-Medium.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'UntitledSansWeb';
  src: url('/assets/2019/webfonts/UntitledSansWeb-MediumItalic.eot');
  src: url('/assets/2019/webfonts/UntitledSansWeb-MediumItalic.eot?#iefix') format('embedded-opentype'), 
       url('/assets/2019/webfonts/UntitledSansWeb-MediumItalic.woff2') format('woff2'), 
       url('/assets/2019/webfonts/UntitledSansWeb-MediumItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'UntitledSansWeb';
  src: url('/assets/2019/webfonts/UntitledSansWeb-Light.eot');
  src: url('/assets/2019/webfonts/UntitledSansWeb-Light.eot?#iefix') format('embedded-opentype'), 
       url('/assets/2019/webfonts/UntitledSansWeb-Light.woff2') format('woff2'), 
       url('/assets/2019/webfonts/UntitledSansWeb-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'UntitledSansWeb';
  src: url('/assets/2019/webfonts/UntitledSansWeb-Bold.eot');
  src: url('/assets/2019/webfonts/UntitledSansWeb-Bold.eot?#iefix') format('embedded-opentype'), 
       url('/assets/2019/webfonts/UntitledSansWeb-Bold.woff2') format('woff2'), 
       url('/assets/2019/webfonts/UntitledSansWeb-Bold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

.FontFamily {
  font-family: 'UntitledSansWeb';
}

.FontFamily-italic {
  font-family: 'UntitledSansWeb';
  font-style: italic;
}
body {
	font-family: "UntitledSansWeb", sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #000000;background: #ffffff;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}

img {
	max-width: 100%;
	height: auto;
}

.btn-danger {
	background-color: #cd0e2c;
	color: #fff;
}

.btn-danger:hover, .btn-danger:focus {
	background-color: #bf0d16;
	color: #fff;
}

.btn-secondary {
	background-color: #007bff;
	border-color: #007bff;
	color: #fff;
}

.btn-secondary:hover, .btn-secondary:focus {
	background-color: #006fe5;
	border-color: #006fe5;
	color: #fff;
}

.header-logo a {
	display: inline-block;
}
.header-logo img {
	max-width: 100%;
}
.common {
	padding-left: 200px !important;
	padding-right: 200px !important;
}
.img {
	max-width: 100%;
	/* -webkit-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s; */
}
.f-left {
	float: left
}
.f-right {
	float: right
}
.fix {
	overflow: hidden
}
a,
.button {
	/* -webkit-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s; */
}
/* a:focus {
	text-decoration: none;
	outline: none;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
	color: #2B96CC;
	text-decoration:underline;	
} */
a:hover,
a:focus {
	text-decoration: underline;	
}
a/* ,
button */ {
	color: #1696e7;
	outline: none;
}
button:focus,input:focus,input:focus,textarea,textarea:focus{outline: 0}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "UntitledSansWeb", sans-serif;
	font-weight: normal;
	color: #000000;
	margin-top: 0px;
	font-style: normal;
	font-weight: 400;
	text-transform: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}

h1 {
	font-size: 40px;
	font-weight: 500;
}
h2 {
	font-size: 35px;
	font-size: 2rem;
}
h3 {
	font-size: 28px;
	font-size: 1.5rem;
}
h4 {
	font-size: 22px;
	font-size: 1.2rem;
}
h5 {
	font-size: 18px;
	font-size: 1rem;
}
h6 {
	font-size: 16px;
	font-size: .9rem;
}
.ul_hidden {
	margin: 0px;
	padding: 0px;
}
.ul_hidden li {
	list-style: none;
	margin-left: 0;
}
.list-unstyled {
	margin-left: 0;
}
.list-unstyled li {
	margin-left: 0;
	list-style-type: none;
}
p {
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	color: #000000;
	margin-bottom: 15px;
}
hr {
	border-bottom: 1px solid #eceff8;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}
label {
	color: #7e7e7e;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
*::-moz-selection {
	background: #d6b161;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
*::-webkit-input-placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
*::placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
.theme-overlay {
	position: relative
}
.theme-overlay::before {
	background: #1696e7 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.6;
	position: absolute;
	top: 0;
	width: 100%;
}
.separator {
	border-top: 1px solid #f2f2f2
}
/* button style */

.btn_ {
	-moz-user-select: none;
	background: #fff none repeat scroll 0 0;
	border: medium none;
	border-radius: 0px;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 1;
	margin-bottom: 0;
	margin-top: 30px;
	padding: 20px 50px;
	text-align: center;
	text-transform: uppercase;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
	white-space: nowrap;
}
.breadcrumb > .active {
	color: #888;
}
.owl-carousel .owl-nav div {
	background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
	height: 40px;
	left: 20px;
	line-height: 40px;
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	visibility: hidden;
	width: 40px;
}
.owl-carousel .owl-nav div.owl-next {
	left: auto;
	right: 20px;
}
.owl-carousel:hover .owl-nav div {
	opacity: 1;
	visibility: visible;
}
.owl-carousel .owl-nav div:hover {
	background: #2B96CC;
	color: #fff
}

/* scrollUp */
#scrollUp {
	background: #7DBA2F;
	height: 35px;
	width: 35px;
	right: 50px;
	bottom: 77px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	border-radius: 50%;
	font-size: 20px;
	line-height: 34px;
}
#scrollUp:hover {
	background: #444;
}

/*Header Area CSS Start*/
.header-area {
	position: fixed;
	width: 100%;
	top: 0;
	background: #fff;
	z-index: 8;
	padding: 27px 0;
}

.header-area.common.sticky {
	box-shadow: 0 0 6px rgba(0, 0, 0, .075);
}

.back-to-top {
	position: fixed;
	bottom: 20px;
	left: 20px;
	font-size: 34px;
	width: 45px;
	line-height: 45px;
	border-radius: 5px;
	color: #201f1f;
	background-color: #e7e7e7;
	z-index: 99;
	text-align: center;
	display: none;
}


.header-area.sticky {
  padding: ;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-transition: .3s;
  transition: .3s;
}
.main-menu ul li {
	display: inline-block;
	margin-left: 40px;
}

.main-menu ul li a {
	color: #000;
	font-size: 16px;
	padding: 40px 0;
	display: block;
}
/*Header Area CSS End*/

/*Slider Area CSS Start*/
.slider-area {
	height: 100vh;
	margin-top: 98px;
	background-size: cover;
	background-position: center top;
}
.slider-area-table {
	display: table;
	width: 100%;
	height: 100%;
}
.slider-area-table-cell {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: bottom;
}
.slider-content {
	padding-bottom: 200px;
}
.slider-content h2 {
	color: #fff;
	font-size: 80px;
	vertical-align: bottom;
}
/*Slider Area CSS End*/

/*Wabash Is Area CSS Start*/
.wabash-is-area {
	padding: 80px 0;
}
.wabash-list li {
	line-height: 30px;
}
.wabash-content h2 {
	color: #cd0e2c;
	font-size: 60px;
	line-height: 75px;
}
.section-title {
	text-align: center;
}
.wabash-is-area .section-title h4 {
	color: #000;
	text-transform: uppercase;
	font-size: 22px;
	margin-bottom: 80px;
	position: relative;
	
}
.wabash-is-area .section-title h4::before {
	position: absolute;
	content: "";
	width: 140px;
	height: 8px;
	background: red;
	border: ;
	bottom: -15px;
	left: 50%;
	-webkit-transition: ;
	transition: ;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
/*Wabash Is Area CSS End*/

/*Learn More Area Start*/
.learn-more-area,
.play-more-area,
.earn-more-area {
	padding: 300px 0;
	background-size: cover;
	background-position: center center;
}
.area-content h2 {
	color: #fff;
	font-size: 55px;
}

.area-content p {
	color: #fff;
	font-size: 32px;
	line-height: 35px;
}
/*Learn More Area End*/

/*News Area CSS Start*/
.news-area {
	background: #ffffff;
	padding: 100px 0;
}
.news-area .section-title h4 {
	color: #000;
	font-size: 55px;
	margin-bottom: 50px;
	text-decoration: none;
	text-transform: capitalize;
}
.news-thumb img {
	width: 100%;
}
.news-content {
	margin-top: 22px;
}

.news-content h4 {
	color: #000;
	font-size: 22px;
}
.owl-stage {
	padding-left: 0 !important;
	
}

/*News Area CSS End*/

/*Footer Area CSS Start*/
.footer-area {
	background: #cd0e2c;
}
.footer-left-single-block:nth-child(1) {
	max-width: 25%;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
}
.left-item-single-block p {
	font-size: 18px;
	color: #fff;
	margin: 0;
}
.left-item-single-block a {
	font-size: 18px;
	color: #fff !important;
	display: block;
	margin-bottom: 9px;
}
.left-item-single-block1 a {
	font-size: 18px;
	color: #fff;
	display: block;
	margin-bottom: 9px;
}
.footer-area {
	background: #cd0e2c;
	padding-top: 50px;
	padding-bottom: 50px;
}
.left-item-single-block a img {
	max-width: 138px;
}
.news-area.common {
	padding-right: 0 !important;
}
.footer-social-icons {
	text-align: right;
	width: 100%;
}
.footer-social-icons a {
	font-size: 25px;
	color: #fff;
	margin-right: 0;
	margin-left: 20px;
	opacity: 1;
}
.footer-social-icons a:hover,
.footer-social-icons a:focus {
	opacity: .75;
}
.footer-left-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.footer-left-single-block {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 35%;
	flex: 0 0 35%;
	max-width: 35%;
	padding: 0 15px;
}

.left-item-single-block img {
	width: 100%;
}
/*Footer Area CSS Start*/


/*******Majors and More Page CSS start*******/


/*Blog Post Area CSS Start*/
.academics .section-title {
	text-align: left;
}
.academics .section-title h4 {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 0px;
	margin-top: 40px;
	padding: 7px 0;
	line-height: 1.25em;
}
.blog-post-area {
	padding: 80px 0;
}
.blog-thumb img {
	width: 100%;
}
.academic-list-items h4 {
	font-size: 18px;
	font-weight: 600;
	margin: 10px 0 0 0;
	padding: 7px 0;
}
.academic-list-items a {
	display: block;
	color: #000;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 35px;
	padding-left: 22px ;
	text-indent: -22px ;
}
.academic-list-items a,
.academic-list-items .no-link {
	display: block;
	line-height: 1.25em;
	padding: 7px 0;
	margin: 0;
	text-indent: 0;
}
.academic-list-items a.level2 {
	margin-left: 20px;
	position: relative;
}
.academic-list-items a.btn {
	padding: .375rem .75rem;
	display: inline-block;
	font-size: 1rem;
	font-weight: 400;
	text-transform: none;
	margin-top: 10px;
	margin-bottom: 10px;
}
.academic-list-items a.btn.btn-danger {
	color: #fff;
	text-decoration: none;
}
.blog-post-area .section-title {
	text-align: left;
}
.blog-post-area .section-title h2 {
	font-size: 45px;
}
/*
.blog-content {
	margin-top: 30px;
}
.blog-content a {
	text-decoration: underline;
	color: #000;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
}
*/
.academics .section-title {
	border-top: 2px solid #cd0e2c;
}

.sldier-wrp .owl-item {
	opacity: .5;
}
.sldier-wrp .owl-item.active {
	opacity: 1;
}


.main-menu.text-right button {
	font-size: 14px;
	color: #000;
	background: transparent;
	border: none;
}
.main-menu.text-right a {
	font-size: 14px;
	color: #000;
	padding: ;
	pa: ;
	padding: 8px 17px;
	display: inline-block;
	border-left: 1px solid;
	border-right: 1px solid;
	margin-left: 7px;
	margin-right: 7px;
}
.main-menu.text-right button i,
.main-menu.text-right button span {
	font-size: 26px;
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
}
.main-menu.text-right {
}

.main-menu.text-right button.search-bar {
	color: #cd0e2c;
}
.main-menu.text-right button.search-bar i,
.main-menu.text-right button.search-bar span {
	font-size: 15px;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
	padding-left: 5px;
}
.sldier-wrp .owl-nav button i,
.sldier-wrp .owl-nav button span {
	font-size: 56px;
	color: #fff;
}
.sldier-wrp .owl-nav {
	position: absolute;
	right: 15%;
	top: 42%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.main-menu.text-right button.nav-icons i,
.main-menu.text-right button.nav-icons span {
	padding-left: 10px;
}



.auth-rnd-img {
	width: 100%;
	position: relative;
	margin: 40px 0;
}
.auth-rnd-img:after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 1px;
	background: #333333;
	top: 50%;
	content: "";
	z-index: -1;
}
.auth-rnd-img img {
	max-width: 180px;
}
.blog-post-area .section-title h2 {

	margin-bottom: 27px;
}
.spacer {
	border-top: 1px solid;
	margin: 56px 0;
}
.auth-des p {
	font-size: 26px; /*47px;*/
	/*color: #cd0e2c;*/
	line-height: 36px;/*65px;*/
}
.auth-des h4 {
	font-size: 29px;
	margin-bottom: 41px;
}
.auth-des a {
	color: #000;
	font-size: 18px;
	/* text\=-t: ; */
	text-transform: uppercase;
	font-weight: 500;
	text-decoration: underline;
}

.aut-content-blk .left,
.aut-content-blk img[align="left"],
.aut-content-blk img[style*="float: left"],
.aut-content-blk img[style*="float:left"],
.aut-content-blk figure[align="left"],
.aut-content-blk figure[style*="float: left"],
.aut-content-blk figure[style*="float:left"]{
	margin: .25em 1em .75em 0;
	/* max-width: 50%; */
}

.aut-content-blk .right,
.aut-content-blk img[align="right"],
.aut-content-blk img[style*="float: right"],
.aut-content-blk img[style*="float:right"],
.aut-content-blk figure[align="right"],
.aut-content-blk figure[style*="float: right"],
.aut-content-blk figure[style*="float:right"]{
	margin: .25em 0 .75em 1em;
	/* max-width: 50%; */
}

.aut-content-blk figure {
	display: table;
}

.aut-content-blk figcaption {
	display: table-caption;
	caption-side: bottom;
	text-align: center;
	font-size: .85em;
	font-style: italic;
	line-height: 1.25em;
}

.aut-content-blk figcaption:not(:empty) {
	padding: .75em .75em;
	background-color: rgba(0, 0, 0, .075);
}

.aut-content-blk p {
	margin-bottom: 1em;
}

.aut-content-blk iframe {
	max-width: 100%;
}

.aut-content-blk .content-side a[href^="mailto:"] {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-ms-hyphens: none;
	-moz-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
}

.aut-content-blk .border { border: 1px solid #555; }
.aut-content-blk .clear { clear: both; }


/* mobile menu - start
================================================== */
.sidebar-menu-wrapper {
	display: block;
}
.sidebar-menu-wrapper .sidebar-menu {
	top: 0;
	right: -350px;
	height: 100vh;
	z-index: 9999;
	position: fixed;
	min-width: 300px;
	max-width: 300px;
	padding: 25px;
	overflow-y: scroll;
	background-color: #ffffff;
	-webkit-transition: 0.6s cubic-bezier(1, 0, 0, 1);
	transition: 0.6s cubic-bezier(1, 0, 0, 1);
}
.sidebar-menu-wrapper .sidebar-menu .mCustomScrollBox {
	overflow: visible !important;
}
.sidebar-menu-wrapper .sidebar-menu .dismiss-btn .close-btn {
	width: 40px;
	height: 40px;
	font-size: 18px;
	cursor: pointer;
	line-height: 42px;
	text-align: center;
	color: #ffffff;
	border-radius: 3px;
	display: inline-block;
	background-color: #202F40;
}
.sidebar-menu-wrapper .sidebar-menu .sidebar-title {
	font-size: 21px;
	text-transform: capitalize;
}
.sidebar-menu-wrapper .sidebar-menu .sidebar-search .form-item input {
	border: 1px solid #f0f0f0;
}
.sidebar-menu-wrapper .sidebar-menu .sidebar-search .form-item input:focus {
	border-color: #202F40;
}
.sidebar-menu-wrapper .sidebar-menu .sidebar-search .form-item .form-item-btn {
	background-color: #202F40;
}
.sidebar-menu-wrapper .sidebar-menu .menu-list > ul > li {
	margin-bottom: 10px;
}
.sidebar-menu-wrapper .sidebar-menu .menu-list > ul > li:last-child {
	margin-bottom: 0px;
}
.sidebar-menu-wrapper .sidebar-menu .menu-list > ul > li > a {
	font-size: 16px;
	color: #A6ADB4;
}
.sidebar-menu-wrapper .sidebar-menu .menu-list > ul > li > a:hover,
.sidebar-menu-wrapper .sidebar-menu .menu-list > ul > li > a:focus{
	color: #202F40;
	text-decoration: underline;
}
.sidebar-menu-wrapper .sidebar-menu .contact-info > ul > li {
	font-size: 16px;
	margin-bottom: 15px;
}
.sidebar-menu-wrapper .sidebar-menu .contact-info > ul > li:last-child {
	margin-bottom: 0px;
}
.sidebar-menu-wrapper .sidebar-menu .contact-info > ul > li .icon {
	font-size: 18px;
	margin-right: 15px;
	color: #202F40;
}
.sidebar-menu-wrapper .sidebar-menu .signup-btn {
	width: 100%;
	height: 60px;
	display: block;
	font-size: 16px;
	line-height: 60px;
	color: #202F40;
	letter-spacing: 1.6px;
	text-transform: uppercase;
	background-color: #f7f7f7;
}
.sidebar-menu-wrapper .sidebar-menu.active {
	right: 0px;
	-webkit-box-shadow: 0px 10px 55px 1px rgba(137, 173, 255, 0.35);
	box-shadow: 0px 10px 55px 1px rgba(137, 173, 255, 0.35);
}
.sidebar-menu-wrapper .overlay {
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	opacity: 0;
	z-index: 999;
	width: 100vw;
	height: 100vh;
	display: none;
	position: fixed;
	background: rgba(0, 0, 0, 0.7);
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.sidebar-menu-wrapper .overlay.active {
	opacity: 1;
	display: block;
}

.sidebar-menu::-webkit-scrollbar {
	width: 0px;
}

/* mobile menu - end
================================================== */



/* search box - start
================================================== */
.main-search-body {
	top: 50px;
	right: 0px;
	opacity: 0;
	width: 300px;
	padding: 10px;
	border-radius: 5px;
	position: absolute;
	visibility: hidden;
	border-top-right-radius: 0px;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.2);
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.main-search-body .search-input {
	width: 100%;
	margin: 0px;
	height: 50px;
	padding: 0px 20px;
	border-radius: 5px;
	padding-right: 40px;
	border: 1px solid #f4f2ff;
	border-top-right-radius: 0px;
	background-color: #ffffff;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.main-search-body .search-input:focus {
	outline: none;
	border-color: #f7c605;
}
.main-search-body .search-close {
	top: 50%;
	z-index: 1;
	right: 21px;
	color: #53585f;
	font-size: 20px;
	position: absolute;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.main-search-body .search-close:hover,
.main-search-body .search-close:focus{
	color: #f7c605;
}
.main-search-body.search-open {
	opacity: 1;
	visibility: visible;
}
/* search box - end
================================================== */

/* admission page css start */
/* bannerr area css start */
.bannerr-area {
	width: 100%;
	height: 700px;
	background-size: cover;
	background-position: center;
	margin-top: 98px;
}
.bannerr-inner-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	height: 700px;
	padding-bottom: 50px;
}
.bannerr-inner-content h1,
.bannerr-inner-content h2 {
	color: #fff;
	font-size: 95px;
	padding-left: 50px;
}
.admission-btn-area {
	background: #cd0e2c;
	margin-bottom: 80px;
	height: 130px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
/* bannerr area css end */

/* admission btn area css start */

.ad-btn-innner-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
  }
  .btn.adms-btn {
	background: transparent;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 0;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: bold;
	padding: 14px 25px;
	margin-top:0;
}
.ad-btn-text p {
	color: #fff;
	font-size: 17px;
	margin: 0;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 16px;
}



.view-box {
	border: 1px solid #707070;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
}
.view-btn-item a.btn.adms-btn {
	color: #000 !important;
	display: block;
	text-align: left;
	border: 0;
	padding: 0;
	line-height: 1;
	font-weight: normal;
	font-size: 14px;
	margin-bottom: 5px;
	-webkit-transition: .3s;
	transition: .3s;
}
.view-btn-item a.btn.adms-btn:hover,
.view-btn-item a.btn.adms-btn:focus{
	text-decoration: underline;
}
.view-btn-item .view-btn-item a.btn.adms-btn:active {
	outline:none;
}
.view-box button {
	text-transform: lowercase;
	font-size: 16px;
	margin-bottom: 0;
	background: transparent;
	border: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
}
.view-box button i,
.view-box button span {
	color: #000;
	font-size: 20px;
	margin-top: 2px;
}
.view-btn-item {
	height: 0;
	visibility: hidden;
	-webkit-transition: .3s;
	transition: .3s;
	padding-left: 8px;
	opacity: 0;
}
.view-btn-item.act {
	height: 100%;
	visibility: visible;
	padding-top: 10px;
	opacity: 1;
}
.btn-mobile-view {
	display: none;
}
/* admission btn area css end */

/* visit area css start */
.visit-bg-img {
	height: 700px;
	background-position: center;
	background-size: cover;
	/* opacity: 0.2; */
}

.visit-content-background1 {background-color: #C0C0C0; color: #fff !important; opacity:0.6 !important; z-index:-2;}

.visit-content p {
	font-size: 32px;
	color: #fff !important;
	line-height: 32px;
}
.visit-content h3 {
	font-size: 55px;
	color: #fff;
	margin-bottom: 22px;
}
.visit-content a {
	border-radius: 0;
	font-size: 22px;
	color: #000;
	padding: 14px 35px;
}
.visit-outer-wrap {
	height: 700px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	width: 100%;
}
.v-link {
	color: #cd0e2c;
	font-size: 50px;
	padding: 5px 25px;
	line-height: 1;
	display: inline-block;
	border-bottom: 2px solid #cd0e2c;
}
.visit-title-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 80px;
}
.v-link:hover,
.v-link:focus{
	color: #cd0e2c;
	text-decoration: none;
}
/* visit area css end */

/* next area css start */
.next-area {
	padding-top: 70px;
	padding-bottom: 50px;
}
.next-title h3 {
	font-size: 50px;
	color: #000;
	margin-bottom: 40px;
	line-height: 1;
}
.next-img img {
	max-width: 100%;
  }
  .next-content h4 {
	font-size: 22px;
	color: #000;
	line-height: 1;
	margin-bottom: 10px;
	font-weight: bold;
  }
  .next-content p {
	font-size: 18px;
	color: #000;
	font-weight: 400;
	line-height: 24px;
  }
  .next-content {
	padding-top: 8px;
	padding-bottom: 5px;
	padding-right: 5px;
  }
/* next area css end */

/* testimonial tw area start */

.testimonial-tw-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
  }
  .ts-img {
	width: 20%;
  }
  .ts-main-content {
	width: 80%;
  }
  .ts-img img {
	max-width: 210px;
  }
  .ts-main-content p {
	font-size: 36px;
	/* color: #cd0e2c; */
	line-height: 46px;
}
.ts-main-content {
	padding-left: 25px;
}
.pg span {
	font-size: 22px;
	color: #000;
	line-height: 1;
	display: inline-block;
	margin-top: 5px;
}
.app-btn a {
	font-size: 20px;
	color: #000;
	font-weight: bold;
	text-decoration: underline;
	margin-top: 20px;
	display: inline-block;
}
.testimonial-tw-area {
	padding-top: 100px;
	padding-bottom: 90px;
}
.slick-arrow {
	position: absolute;
	top: 20%;
	left: -70px;
	background: transparent;
	border: 0;
	color: #cd0e2c;
	font-size: 36px;
	outline: none;
}
.slick-next.slick-arrow {
	right: -70px;
	position: absolute;
	left: auto;
}
/* testimonial tw area end */
/* admission page css end */

/* department page css start */
.slider-area.department-all {
	background: #cd0e2c;
}
.department-slider-content h1,
.department-slider-content h2 {
	color: #fff;
	font-size: 95px;
	line-height: 1;
	margin-bottom: .5rem;
}
.slider-dp-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	height: 40vh;
	padding-bottom: 45px;
}
.depart-baner img {
	max-width: 100%;
	margin-bottom: 30px;
}
.depart-content p a {
	text-decoration: underline;
}
.depart-list-outer-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	max-width: 600px;
	padding-bottom: 55px;
}
.department-btm-list-wrapper h4 {
	margin-bottom: 25px;
}
.department-btm-list-wrapper {
	border-top: 2px solid #000000;
	margin-top: 50px;
	padding-top: 40px;
}
.depart-bn-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: center;
	padding: 5px;
	background-color: rgba(0, 0, 0, .05);
	margin-bottom: 35px;
	flex-wrap: wrap;
}
.depart-bn-menu a,
.depart-bn-menu a:link,
.depart-bn-menu a:visited {
	line-height: 1;
	text-transform: uppercase;
	display: inline-block;
	padding: 8px;
	background-color: rgba(0, 0, 0, .05);
	border: 1px solid rgba(0, 0, 0, .025);
	margin: 3px;
}

.depart-bn-menu a:hover,
.depart-bn-menu a:focus {
	background-color: rgba(0, 0, 0, .075);
	border-color: rgba(0, 0, 0, .1);
}

/* department page css end */
/*MMS  Untitled Sans*/
.mybashlinks ul li a {
	color: #000;
	font-size: 14px;
	padding: 4px 0;
	display: block;
}
.myheader {
	color: #000;
	font-size: 22px;
	padding: 10px 0 5px 0;
	display: block;
}
.slider-dp-content { height: 24vh; }
.slider-area {
	height: 24vh;
	margin-top: 98px;
	background-size: cover;
	background-position: center top;
}

.slider-area.common.without-bg-image {
	height: auto;
}

.slider-area.common.without-bg-image .slider-dp-content {
	height: auto;
	padding: 5em 0 .5em 0;
}

.slider-area.common.without-bg-image .department-slider-content {
	min-height: 0 !important;
}

.slider-area.common.without-bg-image .department-slider-content > h2 {
	line-height: 1.1em;
}

.news ul li {
	margin-left: 10px;
	padding-bottom: 5px;	
}
/* a {	color: black; font-weight: normal !important;}
a:focus, a:hover,.portfolio-cat a:hover,.footer -menu li a:hover {
	text-decoration:underline;	
	color: black;
} */

.btn_ {
	background: #FFF none repeat scroll 0 0;
	/* #dc3545*/
	font-size: 20px;
	font-weight: 600;
	margin-top: 10px;
	padding: 15px 15px;
	color: #000;
	border: medium thin;
}
.slider-content h1, .wabash-content h1, .bannerr-inner-content h1, .department-slider-content h1,
.slider-content h2, .wabash-content h2, .bannerr-inner-content h2, .department-slider-content h2 {
	font-family: 'Girga-Regular', sans-serif;
	font-size: 50px;
}

footer .common {
	padding-left: 100px !important;
	padding-right: 100px !important;
}

.sidebar-menu-wrapper .sidebar-menu .menu-list > ul > li > a {
	font-size: 16px;
	color: #000;
}
.sidebar-menu-wrapper .sidebar-menu .contact-info > ul > li {
	font-size: 12px;
	margin-bottom: 15px;
}
.sidebar-menu-wrapper .sidebar-menu .menu-listsub > ul > li > a {
	font-size: 12px;
	color: #000;
}
.nav-social-icons {
	width: 100%;
}
.nav-social-icons a {
	font-size: 25px;
	color: #fff;
	margin-left: 10px;
	margin-right: 10px;
}
.nav-social-icons a:hover,
.nav-social-icons a:focus {
	color: #cd0e2c;
}
.nav-social-icons .fab,
.nav-social-icons .fas {
	color: black;
}
.nav-social-icons a:hover .fab,
.nav-social-icons a:focus .fab,
.nav-social-icons a:hover .fas,
.nav-social-icons a:focus .fas{
	color: #cd0e2c;
}
.employee { box-sizing: border-box; padding-bottom:30px;}

a {color:#cd0e2c;}

/*ul {margin-left: 10px; list-style-type: square; list-style-position: inside;}
ul li {list-style-type: square; margin-left: 10px; }*/
/*ul, ul li { list-style-type: square; }*/
.classic_ul {margin-left: 10px; list-style-type: square; list-style-position: inside;}
.classic_ul li {list-style-type: square; margin-left: 10px; }
.media {padding-bottom:30px;}
.btn-large {
-moz-user-select: none;
background: #fff none repeat scroll 0 0;
border: medium none;
border-radius: 0px;
color: #000;
cursor: pointer;
display: inline-block;
font-size: 20px;
font-weight: 600;
letter-spacing: 1px;
line-height: 1;
margin-bottom: 0;
margin-top: 30px;
padding: 20px 50px;
text-align: center;
text-transform: uppercase;
-ms-touch-action: manipulation;
touch-action: manipulation;
-webkit-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
vertical-align: middle;
/* margin-top: 10px;  			padding: 15px 15px; */
}
.btn-large:hover,
.btn-large:focus {
	text-decoration: none;
}
/* 2/27/20 mms */
.jumbotron {
	position:relative;
	overflow:hidden;
	background:white;
	margin: 0px,0px,0px,0px;
	padding: 0rem 0rem;
	margin-bottom: 0rem;
	margin-top: 0rem;
	border-radius: 0rem;
	top: -5px;

}
.jumbotron p {
	font-size: 25px;
	font-weight: 1000;
	color: #cd0e2c !important;
	line-height: 32px;
}
.jumbotron h3 {
	font-size: 45px;
	font-weight: 1000;
	color: #cd0e2c !important;
	margin-bottom: 22px;
}
.jumbotron .btn-large {
    color: #fff;
    background-color: #cd0e2c;
    border-color: #cd0e2c;
	text-decoration: none;
}
.textpaddingl {padding-left:25px; padding-right:25px; text-align:left;}
.textpaddingr {padding-left:25px; padding-right:25px; text-align:right;}
.admission-btn-area { margin-bottom:0px;}

@media (max-width:1024px) {
.jumbotron .btn-large {margin-bottom:5px;}  
.jumbotron p {
	font-size: 15px;
	line-height: 16px;
}
.jumbotron h3 {
	font-size: 25px;
	margin-bottom: 22px;
}
}

.jumbotron-gray {
	background-color: rgba(0, 0, 0, .05);
}
.jumbotron-gray p {
	color: #000 !important;
	font-weight: 400;
}
.jumbotron-gray .textpaddingl,
.jumbotron-gray .textpaddingr {
	padding-top: 25px;
	padding-bottom: 25px;
}

@media (max-width:900px) {
#firstDiv  { order: 1; }
#secondDiv { order: 2; }
}
/*NB 3/16/20 */

@media screen and (max-width: 991px) {

	footer .common {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
	
	footer .footer-social-icons {
		text-align: center;
		margin-top: 30px;
	}
	
	footer .footer-social-icons a {
		margin-left: 10px;
		margin-right: 10px;
	}

}

@media screen and (max-width: 767px) {
	
	footer .footer-social-icons {
		margin-top: 0;
	}

}

@media screen and (max-width: 425px) {

	footer .footer-social-icons {
		max-width: 210px;
		margin-left: auto;
		margin-right: auto;
	}

}

@media screen and (min-width: 992px) and (max-width: 1400px) {

	footer .footer-social-icons {
		max-width: 210px;
		margin-left: auto;
		margin-right: auto;
	}

}

/* RELATED LINKS WIDGET */

#w-related-links-container .be-ix-link-block {
	text-align: center;
	padding: 1em;
	background-color: #ffffff;
	border-top: 1px solid rgba(0, 0, 0, .05);
}

#w-related-links-container .be-ix-link-block .be-related-link-container .be-label {
	padding: 0 .5rem;
	font-size: .95rem;
	line-height: 1.35em;
	color: #646464;
}

#w-related-links-container .be-ix-link-block .be-related-link-container .be-label::after {
	content: ':';
}

#w-related-links-container .be-ix-link-block .be-related-link-container .be-list,
#w-related-links-container .be-ix-link-block .be-related-link-container .be-list li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: .95rem;
	line-height: 1.35em;
}

#w-related-links-container .be-ix-link-block .be-related-link-container .be-list li a,
#w-related-links-container .be-ix-link-block .be-related-link-container .be-list li a:link,
#w-related-links-container .be-ix-link-block .be-related-link-container .be-list li a:visited {
	color: #cd0e2c;
}

@media (min-width: 768px) {
	
	#w-related-links-container .be-ix-link-block .be-related-link-container .be-label {
		flex-basis: 200px;
	}
	
	#w-related-links-container .be-ix-link-block .be-related-link-container {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	#w-related-links-container .be-ix-link-block .be-related-link-container .be-list li {
		display: inline-block;
		margin: 0 .75rem;
	}
	
	#w-related-links-container .be-ix-link-block .be-related-link-container .be-list li a {
		white-space: nowrap;
	}
	
}

/* LINK LISTS */

.link-list-header {
	margin-bottom: 0;
	padding: 1em;
	background-color: rgba(0, 0, 0, .075);
}

.link-list,
.link-list > li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.link-list {
	margin-bottom: 1em;
}

.link-list > li {
	border-top: 1px solid rgba(0, 0, 0, .1);
}

.link-list > li:last-child {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.link-list > li a,
.link-list > li a:link,
.link-list > li a:visited,
.link-list > li .no-link {
	display: block;
	padding: .75em 1em;
	margin: 0;
	line-height: 1.3em;
}

.link-list > li a:hover,
.link-list > li a:focus {
	background-color: rgba(0, 0, 0, .07);
}

/* MISC UTILITY CLASSES */

.text-container {
	max-width: 800px;
	margin: 0 auto;
}

.wabash-red {
	color: #cd0e2c;
}

.wabash-headline {
	font-family: 'Girga-Regular', sans-serif;
	font-size: 1.75rem;
	line-height: 1.2em;
	color: #cd0e2c;
}

.callout-box {
	background-color: rgba(0, 0, 0, .05);
	padding: 1.5rem;
	margin: 1.5rem 0;
	border-left: 4px solid #cd0e2c;
}

.callout-box p:last-child,
.callout-box ul:last-child,
.callout-box ol:last-child {
	margin-bottom: 0;
}

@media (min-width: 768px) {
	.wabash-headline {
		font-size: 3rem;
		line-height: 1.2em;
	}
}

.boxed {
	border: 1px solid rgba(0, 0, 0, .075);
	padding: 1rem;
	margin-bottom: 1.5rem;
}

.boxed p:last-child {
	margin-bottom: 0;
}

.text-smaller {
	font-size: .925em;
	line-height: 1.45em;
}

ul.linklist,
ul.linklist li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.linklist {
	margin-bottom: 1em;
	margin-top: .25em;
}

ul.linklist li {
	margin-bottom: 10px;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
}

ul.linklist a,
ul.linklist a:link,
ul.linklist a:visited,
ul.linklist li.no-link {
	display: block;
	padding: 10px 14px;
	padding-right: 50px;
	border: 1px solid rgba(0, 0, 0, .075);
	color: #cd0e2c;
	text-decoration: none;
	position: relative;
	line-height: 1.25em;
}

ul.linklist a:hover,
ul.linklist a:focus {
	color: #cd0e2c;
	background-color: rgba(0, 0, 0, .05);
	text-decoration: none;
}

ul.linklist a::after {
	content: '\f054';
	display: inline-block;
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 14px;
	color: rgba(0, 0, 0, .25);
	width: 50px;
	text-align: center;
}

ul.linklist a.external::after {
	content: '\f35d';
}

ul.linklist a.download::after {
	content: '\f019';
}

ul.linklist a.document::after {
	content: '\f15c';
}

ul.linklist a.anchor::after {
	content: '\f078';
}

ul.linklist a:hover::after {
	color: #cd0e2c;
}

ul.linklist.compact li {
	margin-bottom: 0;
}

ul.linklist.compact a,
ul.linklist.compact a:link,
ul.linklist.compact a:visited,
ul.linklist.compact li.no-link {
	border-bottom: none;
}

ul.linklist.compact li:last-child a,
ul.linklist.compact li.no-link:last-child {
	border-bottom: 1px solid rgba(0, 0, 0, .075);
}

ul.linklist li.no-link {
	color: #333;
}

ul.linklist li.no-link a,
ul.linklist li.no-link a:link,
ul.linklist li.no-link a:visited,
ul.linklist li.no-link a:hover,
ul.linklist li.no-link a:focus {
	display: inline;
	padding: 0;
	border: none;
}

ul.linklist li.no-link a::after {
	content: '';
}

ul.bordered-list,
ul.bordered-list li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.bordered-list {
	margin-bottom: 20px;
	margin-top: 20px;
}

ul.bordered-list li {
	border: 1px solid rgba(0, 0, 0, .075);
	border-bottom: none;
	padding: 10px 14px;
}

ul.bordered-list li:last-child {
	border-bottom: 1px solid rgba(0, 0, 0, .075);
}

@media (min-width: 768px) {
	ul.columns2 {
		-moz-column-count: 2;
		-moz-column-gap: 20px;
		-webkit-column-count: 2;
		-webkit-column-gap: 20px;
		column-count: 2;
		column-gap: 20px;
	}
	ul.columns3 {
		-moz-column-count: 3;
		-moz-column-gap: 20px;
		-webkit-column-count: 3;
		-webkit-column-gap: 20px;
		column-count: 3;
		column-gap: 20px;
	}
}

body #unibuddy-popcard-iframe {
	z-index: 99 !important;
}

/* link boxes/columns */

.row.link-boxes {
	display: flex;
	justify-content: center;
	align-items: stretch;
}

.link-boxes > div {
	display: flex;
	justify-content: center;
	width: 100%;
	align-items: stretch;
}

.link-boxes > div > a {
	display: flex;
	width: 100%;
	padding: 1rem;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: .25rem;
}

.link-boxes > div > a:hover,
.link-boxes > div > a:focus {
	border-color: rgba(0, 0, 0, .25);
}

/* Accessibility */

.main-menu .search-bar.search-btn:focus,
.main-menu .mobile-menu-btn:focus{
	background-color: #eee;
	background-color: rgba(0, 0, 0, .05);
	color: #000;
}

#skiptocontent {
	z-index: 999;
}

#skiptocontent a {
	position: absolute;
	z-index: 999;
	top: -60px;
	left: 0;
	background-color: #cd0e2c;
	color: #fff;
	display: inline-block;
	padding: 5px 10px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
	margin: 0 10px 0 10px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .3);
	border: 2px solid #fff;
	border-top: 0;
	transition: top 250ms ease;
}

#skiptocontent a:focus {
	top: 0;
	transition: top 250ms ease;
}

.right-image-lg,
.left-image-lg {
	margin-bottom: 1rem;
	display: block;
}

@media screen and (min-width: 768px) {
	
	.right-image-lg {
		float: right;
		margin: 0 0 1rem 1.5rem;
		max-width: 60% !important;
		height: auto !important;
	}
	
	.left-image-lg {
		float: left;
		margin: 0 1.5rem 1rem 0;
		max-width: 60% !important;
		height: auto !important;
	}
	
}

@media print {
	
	.slider-area.department-all {
		background-color: #fff;
		color: #000;
	}
	
	.slider-area.department-all .department-slider-content h1 {
		color: #000;
	}
	
	header .header-area .main-menu,
	.w-nav-sidebar,
	footer .footer-area {
		display: none;
	}
	
}

body iframe#unibuddy-chat-bubble-iframe {
	z-index: 9998 !important;
}

.well {
	background-color: rgba(0, 0, 0, .05);
	border: 1px solid rgba(0, 0, 0, .05);
	padding: 1.5rem;
	margin-bottom: 1.5rem;
}
